
build/** linguist-generated
.dart_tool/** linguist-generated
android/** linguist-generated
ios/** linguist-generated
linux/** linguist-generated
macos/** linguist-generated
windows/** linguist-generated
web/** linguist-generated

*.dart linguist-language=Dart
